.card_container {
  width: 12rem;
  height: 15rem;
  border-radius: 8px;
  background-color: white;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .card_title {
    font-family: "Jost", sans-serif;
    color: #0c0d0e;
  }
  .detalle {
    width: 100%;
    padding: 0 1.5em;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;

    font-family: "Jost", sans-serif;
  }
  .buttons_group {
    display: flex;
    justify-content: space-between;
    .price {
      width: 50%;
      font-family: "Jost", sans-serif;
      font-size: 1.5em;
      font-weight: 600;
    }
    .buttons {
      width: 45%;
      display: flex;
      gap: 0.5em;
      justify-content: center;

      .info_icon {
        background-color: #0c0d0e;
        border: none;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
      }
      .buy_icon {
        background-color: #0c0d0e;
        border: none;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
